<button (click)="openModal()" class="btn btn-primary mt-2">Add data</button>


<!-- <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div formArrayName="employees">
        <div *ngFor="let employee of employees().controls; let empIndex=index; trackBy:identify">
            <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
                {{empIndex}} Style:
                <input type="text" formControlName="style" />
                Size:
                <input type="text" formControlName="size" />
                Duty:
                <input type="text" formControlName="duty" />
                Quantity:
                <input type="text" formControlName="quantity" />

                <button (click)="removeEmployee(empIndex)">Remove</button>

                <div formArrayName="skills">
                    <div *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
                        <div [formGroupName]="skillIndex">
                            {{skillIndex}} Column :
                            <input type="text" formControlName="column" />

                            <button (click)="removeEmployeeSkill(empIndex,skillIndex)">
                Remove
              </button>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="addEmployeeSkill(empIndex)">
                    Add Skill
                </button>
            </div>
        </div>
        <button type="button" (click)="onUpdate()">Update</button>
    </div>
</form> -->



<!-- <ng-container *ngIf="employees().controls.length">

    <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="float-end">
            <button type="button" (click)="onUpdate()">Update</button>
        </div>
        <div formArrayName="employees" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Style</th>
                        <th scope="col">Size</th>
                        <th scope="col">Duty</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees().controls; let empIndex=index; trackBy:identify">
    
                        <ng-container [formGroupName]="empIndex">
                            <th scope="row">{{ empIndex + 1 }}</th>
                            <td>
                                {{empIndex}} Style:
                                <input type="text" formControlName="style" />
                            </td>
    
                            <td>
                                Size:
                                <input type="text" formControlName="size" />
                            </td>
                            <td>
                                Duty:
                                <input type="text" formControlName="duty" />
                            </td>
                            <td>
                                Quantity:
                                <input type="text" formControlName="quantity" />
                            </td>
    
                            <ng-container formArrayName="skills">
                                <td *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
                                    <ng-container [formGroupName]="skillIndex">
                                        {{skillIndex}} Column :
                                        <input type="text" formControlName="column" />
    
                                        <button (click)="removeEmployeeSkill(empIndex,skillIndex)">
                                        Remove
                                        </button>
                                    </ng-container>
                                </td>
                            </ng-container>
    
                            <td>
                                <button type="button" (click)="addEmployeeSkill(empIndex)">
                                    Add Skill
                                </button>
                            </td>
    
                        </ng-container>
    
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</ng-container> -->


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>

                <ng-container *ngFor="let tableHeader of tableHeaders; let i= index;">
                    <th scope="col" *ngIf="!tableHeader.hidden">{{ tableHeader.text }}</th>
                </ng-container>

                <!-- <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let objGrid of gridData;index as i">
                <td *ngFor="let objTd of objGrid;">{{objTd}}</td>
                <!-- <td *ngFor="let objData of gridData[i]; ">{{ objData.text }}</td> -->
            </tr>
        </tbody>
    </table>
</div>

{{gridData | json}}
<!-- {{this.empForm.value | json}} -->