<button (click)="openModal()" class="btn btn-primary mt-2">Add data</button>


<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div formArrayName="employees">
    <div *ngFor="let employee of employees().controls; let empIndex=index">
      <div
        [formGroupName]="empIndex"
        style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
      >
        {{empIndex}} Style:
        <input type="text" formControlName="style" />
        Size:
        <input type="text" formControlName="size" />
        Duty:
        <input type="text" formControlName="duty" />
        Quantity:
        <input type="text" formControlName="quantity" />

        <!-- <button (click)="removeEmployee(empIndex)">Remove</button> -->

        <div formArrayName="skills">
          <div
            *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index"
          >
            <div [formGroupName]="skillIndex">
              {{skillIndex}} Column :
              <input type="text" formControlName="column" />

              <!-- <button (click)="removeEmployeeSkill(empIndex,skillIndex)">
                Remove
              </button> -->
            </div>
          </div>
        </div>
        <button type="button" (click)="addEmployeeSkill(empIndex)">
          Add Skill
        </button>
      </div>
    </div>
    <button type="button" (click)="onUpdate()">Update</button>
  </div>
</form>

{{this.empForm.value | json}}
